<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	
	<context-param>
        <param-name>configFile</param-name>
        <param-value>app.yaml</param-value>
    </context-param>
    
	<servlet>
		<servlet-name>GaeDataAppServlet</servlet-name>
		<servlet-class>io.konig.data.app.gae.GaeDataAppServlet</servlet-class>
		<init-param>
			<param-name>configFile</param-name>
			<param-value>app.yaml</param-value>
		</init-param>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>GaeDataAppServlet</servlet-name>
		<url-pattern>/Mypedia/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>GaDataTransformServlet</servlet-name>
		<servlet-class>io.konig.data.app.gae.GaDataTransformServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GaDataTransformServlet</servlet-name>
		<url-pattern>/Mypedia/Cron/DataTransform</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>GaeDataMetricComputationServlet</servlet-name>
		<servlet-class>io.konig.data.app.gae.GaeDataMetricComputationServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GaeDataMetricComputationServlet</servlet-name>
		<url-pattern>/Mypedia/Cron/MetricComputation/*</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
