<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">
  	<servlet>
			<servlet-name>GaeContentSystemServlet</servlet-name>
			<servlet-class>io.konig.content.gae.GaeContentSystemServlet</servlet-class>
		</servlet>
		
		
  	<servlet>
			<servlet-name>BundleNotificationServlet</servlet-name>
			<servlet-class>io.konig.content.gae.BundleNotificationServlet</servlet-class>
		</servlet>
		
  	<servlet>
			<servlet-name>GaeZipBundleTaskHandlerServlet</servlet-name>
			<servlet-class>io.konig.content.gae.GaeZipBundleTaskHandlerServlet</servlet-class>
		</servlet>
		
  	<servlet>
			<servlet-name>BundleEnqueueServlet</servlet-name>
			<servlet-class>io.konig.content.gae.BundleEnqueueServlet</servlet-class>
		</servlet>
		
  	<servlet>
			<servlet-name>BundleDequeueServlet</servlet-name>
			<servlet-class>io.konig.content.gae.BundleDequeueServlet</servlet-class>
		</servlet>
		
		<servlet-mapping>
			<servlet-name>BundleEnqueueServlet</servlet-name>
			<url-pattern>/tasks/content-bundle-enqueue</url-pattern>
		</servlet-mapping>
		
		<servlet-mapping>
			<servlet-name>BundleDequeueServlet</servlet-name>
			<url-pattern>/tasks/content-bundle-dequeue</url-pattern>
		</servlet-mapping>
		
		<servlet-mapping>
			<servlet-name>GaeContentSystemServlet</servlet-name>
			<url-pattern>/content/*</url-pattern>
		</servlet-mapping>
		
		<servlet-mapping>
			<servlet-name>BundleNotificationServlet</servlet-name>
			<url-pattern>/pubsub/content-bundle-notification</url-pattern>
		</servlet-mapping>
		
		<servlet-mapping>
			<servlet-name>GaeZipBundleTaskHandlerServlet</servlet-name>
			<url-pattern>/tasks/content-bundle-unzip</url-pattern>
		</servlet-mapping>
		
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
</web-app>
