<html>
<head>
<title>$ClassName</title>
<link rel="stylesheet" type="text/css" href="//schema.org/docs/schemaorg.css">
</head>
<body class="mainsite">
#parse( "data-catalog/velocity/header.vm" )

<div id="mainContent">
<table>
	<h1 property="rdfs:label" class="page-title">$ClassName</h1>
#if( $termStatus )
<div><b>Term Status:</b><a href="$termStatus.Href">$termStatus.Name</a></div>
#end
#foreach( $ancestorPath in $AncestorList )
	<h4><span class="breadcrumbs"> Thing
#foreach(	$ancestorLink in $ancestorPath )
	&gt; <a href="$ancestorLink.Href">$ancestorLink.Name</a>	
#end
	</span></h4>
#end	

#if( $description )
<div style="margin-bottom: 1em">
  $description
</div>
#end

#if($!dataStructureList) 
  <div><b>Data Structures based on this Entity</b></div>
  
  <table class="definition-table">
    <thead>
      <tr>
        <th>Structure Name</th>
        <th>Data Source</th>
      </tr>
    </thead>
    <tbody>    
  #foreach( $structure in $dataStructureList )
    #if( $!structure.DataSource )
      #foreach($path in $!structure.DataSource)
            <tr>   
              <td>
                <code>
                  <a href="$structure.Shape.Href">$structure.Shape.Name</a>
                </code>
                <br>
               
              </td>
              <td>
                #foreach( $link in $path )#if($link.Href)<a href="$link.Href">$link.Name</a>#else$link.Name#end#if($foreach.hasNext) > #end#end
              </td>
            </tr>
      #end
    #else
            <tr>   
              <td>
                <code>
                  <a href="$structure.Shape.Href">$structure.shape.Name</a>
                </code>
                <br>
               
              </td>
              <td></td>
            </tr>
    #end
  #end 
    </tbody>
  </table>
#end  

	<table class="definition-table">
		<thead>
			<tr>
				<th>Property</th>
				<th>Type</th>
				<th>Description</th>
#if( $AnySecurityClassification )				
				<th>Security Classification</th>
#end				
#if( $AnyTermStatus )		
				<th>Status</th>		
#end				
			</tr>
		</thead>
		<tbody class="supertype">
#foreach( $pc in $PropertyList )
			<tr typeof="sh:PropertyConstraint" resource="$pc.PredicateId">
				<th class="prop-nam"><a href="$pc.PropertyHref">$pc.PredicateLocalName</a></th>
				<td class="prop-ect">
#if($pc.TypeHref) 				
					<a href="$pc.TypeHref">$pc.TypeName</a>
#else
					$pc.TypeName
#end					
				</td>	
				<td class="prop-desc" property="rdfs:comment">
					$pc.Description
				</td>
#if( $AnySecurityClassification )				
				<td class="prop-quansec">
#foreach( $qsc in $pc.QualifiedSecurityClassificationList )	
					<div><a href="$qsc.Href">$qsc.Name</a></div>#end
				</td>
#end				
#if( $AnyTermStatus )
				<td>
#if( $pc.TermStatus )					
					<a href="$pc.TermStatus.Href">$pc.TermStatus.Name</a>
#end					
				</td>
#end				
			</tr>
#end	
#if($SuperclassPropertyList)
#foreach( $sc in $SuperclassPropertyList )
			<tr class="supertype">
				<th class="supertype-name" colspan="3">
					Properties from <a href="$sc.Superclass.Href">$sc.Superclass.Name</a>
				</th>
			</tr>
#foreach( $sp in $sc.PropertyList )
			<tr typeof="sh:PropertyConstraint" resource="$sp.PredicateId">
				<th class="prop-nam"><a href="$sp.PropertyHref">$sp.PredicateLocalName</a></th>
				<td class="prop-ect">
#if($sp.TypeHref) 				
					<a href="$sp.TypeHref">$sp.TypeName</a>
#else
					$sp.TypeName
#end					
				</td>	
				<td class="prop-desc" property="rdfs:comment">$sp.Description</td>
			</tr>			
#end		
#end
#end	
		</tbody>
	</table>
#if($Members) 
	<br>
	<b>Enumeration members</b>

	<table>
		<thead class="definition-table">
        <tr>
            <th>Individual</th>
            <th>Name</th>
            <th>Description</th>
            <th>Code</th>
        </tr>
		</thead>
#foreach( $member in $Members )
		<tr>
			<td><a href="${member.href}">${member.curie}</a></td>
			<td>${member.name}</td>
            <td>${member.description}</td>
            <td>${member.code}</td>
		</tr>

#end	
</table>
#end
#if( $SubclassList )
	<br>
	<b>More specific Types</b>
	<ul style="text-align: left">
#foreach( $subclassLink in $SubclassList ) 
		<li><a href="$subclassLink.Href">$subclassLink.Name</a></li>
#end	
	</ul>
#end

	<p class="version">
		Latest Version
	</p>
</div>
</div>
</body>
</html>