<html>
<head>
<title>$ClassName</title>
<link rel="stylesheet" type="text/css" href="//schema.org/docs/schemaorg.css">
</head>
<body class="mainsite">
#parse( "data-catalog/velocity/header.vm" )
<div id="mainContent" prefix="sh: http://www.w3.org/ns/shacl#"  typeof="sh:Shape" resource="$ClassId">
	<h1 property="rdfs:label" class="page-title">$ClassName</h1>
#foreach( $ancestorPath in $AncestorList )
	<h4><span class="breadcrumbs"> Thing
#foreach(	$ancestorLink in $ancestorPath )
	&gt; <a href="$ancestorLink.Href">$ancestorLink.Name</a>	
#end
	</span></h4>
#end	
	<table class="definition-table">
		<thead>
			<tr>
				<th>Property</th>
				<th>Type</th>
				<th>Description</th>
				<th>Security Classification</th>
			</tr>
		</thead>
		<tbody class="supertype">
#foreach( $pc in $PropertyList )
			<tr typeof="sh:PropertyConstraint" resource="$pc.PredicateId">
				<th class="prop-nam"><a href="$pc.PropertyHref">$pc.PredicateLocalName</a></th>
				<td class="prop-ect">
#if($pc.TypeHref) 				
					<a href="$pc.TypeHref">$pc.TypeName</a>
#else
					$pc.TypeName
#end					
				</td>	
				<td class="prop-desc" property="rdfs:comment">$pc.Description</td>
				<td class="prop-quansec">#foreach( $quantifiedSecurityClassification in $pc.quantifiedSecurityClassificationList )	
				<div>$quantifiedSecurityClassification.getLocalName()
				</div>#end</td>
			</tr>
#end	
#if($SuperclassPropertyList)
#foreach( $sc in $SuperclassPropertyList )
			<tr class="supertype">
				<th class="supertype-name" colspan="3">
					Properties from <a href="$sc.Superclass.Href">$sc.Superclass.Name</a>
				</th>
			</tr>
#foreach( $sp in $sc.PropertyList )
			<tr typeof="sh:PropertyConstraint" resource="$sp.PredicateId">
				<th class="prop-nam"><a href="$sp.PropertyHref">$sp.PredicateLocalName</a></th>
				<td class="prop-ect">
#if($sp.TypeHref) 				
					<a href="$sp.TypeHref">$sp.TypeName</a>
#else
					$sp.TypeName
#end					
				</td>	
				<td class="prop-desc" property="rdfs:comment">$sp.Description</td>
			</tr>			
#end		
#end
#end	
		</tbody>
	</table>
#if($Members) 
	<br>
	<b>Enumeration members</b>
	<ul>
#foreach( $member in $Members )
		<li><a href="$member.Href">$member.Name</a></li>
#end	
	</ul>
#end	
#if( $SubclassList )
	<br>
	<b>More specific Types</b>
	<ul>
#foreach( $subclassLink in $SubclassList ) 
		<li><a href="$subclassLink.Href">$subclassLink.Name</a></li>
#end	
	</ul>
#end
#if($ShapeList) 
	<table class="definition-table">
		<thead>
			<tr>
				<th>Shapes based on this Class</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>
#foreach( $shape in $ShapeList )
					<code>
						<a href="$shape.Href">$shape.Name</a>
					</code>
					<br>
#end					
				</td>
			</tr>
		</tbody>
	</table>
#end	
	<p class="version">
		Latest Version
	</p>
</div>
</body>
</html>