<html>
<head>
<title>Ontology Index</title>
<link rel="stylesheet" type="text/css" href="http://schema.org/docs/schemaorg.css">
<style>
.listing {
	text-align: left;
	margin-left: 1em;
}
</style>
</head>
<body>
<div  class="listing">
#foreach( $ontology in $OntologyList )
	<div><a href="$ontology.href">$ontology.Name</a></div>
#end
</div>
</body>
</html>