<html>
<head>
<title>Ontology Index</title>
<link rel="stylesheet" type="text/css" href="//schema.org/docs/schemaorg.css">
<style>
#include( "data-catalog/velocity/style.vm" )
</style>
</head>
<body>
<div class="index-heading">
	Ontologies
</div>
<div  class="listing">
#foreach( $ontology in $OntologyList )
	<div><a href="$ontology.href" target="mainContentFrame">$ontology.Name</a></div>
#end
</div>
</body>
</html>