<html>
<head>
<title>Ontology Index</title>
<link rel="stylesheet" type="text/css" href="//schema.org/docs/schemaorg.css">
<style>
#include( "data-catalog/velocity/style.vm" )
</style>
<style>
.hidden {
	display: none
}
.button {
	margin-top: 12pt;
	font-size: 75%
}

.visibleRow {
	display: table-row
}
#EnumToggle {
	padding-left: 1em;
	padding-right: 1em;
}
</style>
</head>
<body>
#if($SubjectList)
<script>
FILTER="AllClasses";
CURRENT_LIST = 'subjectList';
function showList(listId) {

  document.getElementById(CURRENT_LIST).style.display = "none";
  document.getElementById(CURRENT_LIST + "Button").classList.remove("activeLink");
  
  document.getElementById(listId).style.display = "block";;
  document.getElementById(listId + "Button").classList.add("activeLink");
  
	CURRENT_LIST = listId;
}
function filterSubject(className) {
	FILTER=className;
	parent.window.frames["classListFrame"].filterBySubject(className);
	var mainContent = parent.window.frames["mainContentFrame"];
	if (mainContent.filterBySubject) {
		mainContent.filterBySubject(className);
	}
}
</script>
<div id="selectionbar">
	<div class="wrapper">
		<ul>
			<li id="ontologyListButton">
				<a href="#" onclick="showList('ontologyList');return false;">Ontologies</a>
		  </li>
		  <li id="subjectListButton" class="activeLink">
		  	<a href="#" onclick="showList('subjectList'); return false;">Subjects</a>
		  </li>
		</ul>
	</div>
</div>

<div id="subjectList" class="listing">
#foreach( $subject in $SubjectList )
	<div><a href="#" onclick="filterSubject('$subject.ClassName');return false;" title="$subject.Name">$subject.Name</a></div>
#end
  <div><a href="#" onclick="filterSubject('AllClasses');return false;" title="All Classes">All Subjects</a></div>
</div>

#else

<div class="index-heading">Ontologies</div>

#end

<div id="ontologyList" class="listing"#if($SubjectList) style="display: none"#end>
#foreach( $ontology in $OntologyList )
#if( $ontology.IsEnumNamespace ) 
	<div class="EnumNamespace hidden"><a href="$ontology.href" target="mainContentFrame">$ontology.Name</a></div>
#else
	<div><a href="$ontology.href" target="mainContentFrame">$ontology.Name</a></div>
#end 
#end
#if($showHideEnumNamespaces)
<div class="button">
<a id="EnumToggle" href="#" onclick="toggleEnumNamespaces();return false;">Show Enum Namespaces</a>
</div>
#end
</div>
#if($showHideEnumNamespaces)
<script>
showEnumNamespaces=false;
function toggleEnumNamespaces() {
	var oldClass = "";
	var newClass = "";
	var newText = "";
	if (showEnumNamespaces) {
	  showEnumNamespaces = false;
	  oldClass = "visibleRow";
	  newClass = "hidden";
	  newText = "Show Enumeration Namespaces";
	} else {
	  showEnumNamespaces=true;
	  oldClass = "hidden";
	  newClass = "visibleRow";
	  newText = "Hide Enumeration Namespaces";
	}
	
	var enumList = document.getElementsByClassName("EnumNamespace");
	for (var i=0; i<enumList.length; i++) {
	  var row = enumList[i];
	  row.classList.remove(oldClass);
	  row.classList.add(newClass);
	}
	var toggle = document.getElementById("EnumToggle");
	toggle.innerHTML = "<span>" + newText + "</span>";
}
</script>


#end	
</body>
</html>