<html>
<head>
<title>$ClassName</title>
<link rel="stylesheet" type="text/css" href="//schema.org/docs/schemaorg.css">
<script>
#include( "data-catalog/velocity/cookies.vm" )

function onNavigationTabs() {
  var navigationTabs = getNavigationTabs();
  setCookie("navigationTabs", navigationTabs);
  
  updateNavigationPanel();
}

function onClassDisplayName() {
  
  var classDisplayName = getClassDisplayName();  
  setCookie("classDisplayName", classDisplayName);
  
  updateNavigationPanel();

}

function updateNavigationPanel() {
  var src = getNavigationSrc();
  setCookie("classListSrc",src);
  parent.window.frames["classListFrame"].location = src;
}

function getNavigationTabs() {

  return document.getElementById("AllInOne").checked ? "AllInOne" :
              "SeparateTabs" ;
}

function getClassDisplayName() {
  return document.getElementById("technical").checked ? "technical" :
              "business" ;
}

function getNavigationSrc() {
  var classDisplayName = getClassDisplayName();
  var navigationTabs = getNavigationTabs();
  
  var tabPart = "AllInOne" == navigationTabs ? "classes" : "entities";
  
  return "index-" + classDisplayName + "-" + tabPart + ".html";
}

function loadSettings() {

  var classDisplayName = getCookie("classDisplayName") || "business";
  var navigationTabs = getCookie("navigationTabs") || "SeparateTabs";
  
  document.getElementById(classDisplayName).checked = true;
  document.getElementById(navigationTabs).checked = true;
 
}

</script>
</head>
<body class="mainsite" onload="loadSettings()">
#parse( "data-catalog/velocity/header.vm" )

<div id="mainContent">
<h1 property="rdfs:label" class="page-title">Settings</h1>
<form id="settingsForm" style="margin-top: 1em">
<h2>Left Navigation Panel</h2>
<div class="form-component">
  <h3>Navigation Tabs</h3>
  <div class="form-component">
    <input type="radio" id="AllInOne" name="navigationTabs" value="AllInOne" onclick="onNavigationTabs()"> Display entities and enumerations together in a single panel<br>
    <input type="radio" id="SeparateTabs" name="navigationTabs" value="SeparateTabs" onclick="onNavigationTabs()">Display entities and enumerations in separate tabs<br>
  </div>
  <h3>Display Name</h3>
  <div class="form-component">
    <input type="radio" id="business" name="classDisplayName" value="business" onclick="onClassDisplayName()"> Business Name<br>
    <input type="radio" id="technical" name="classDisplayName" value="technical" onclick="onClassDisplayName()"> Technical Name<br>
  </div>
</div>
</form>
</body>
</html>