<html>
<head>
<title>$ShapeName</title>
<link rel="stylesheet" type="text/css" href="http://schema.org/docs/schemaorg.css">
</head>
<body>
<div id="mainContent" prefix="sh: http://www.w3.org/ns/shacl#"  typeof="sh:Shape" resource="$ShapeId">
	<h1 property="rdfs:label" class="page-title">$ShapeName</h1>
	<table class="definition-table">
		<thead>
			<tr>
				<th>Property</th>
				<th>Type</th>
				<th>Description</th>
			</tr>
		</thead>
		<tbody class="supertype">
#foreach( $pc in $PropertyList )
			<tr typeof="sh:PropertyConstraint" resource="$pc.PredicateId">
				<th class="prop-nam">$pc.PredicateLocalName</th>
				<td class="prop-ect">$pc.TypeName</td>
				<td class="prop-desc" property="rdfs:comment">$pc.Description</td>
			</tr>
#end		
		</tbody>
	</table>
	<p class="version">
		Latest Version
	</p>
</div>
</body>
</html>