<html>
<head>
<title>$ShapeName</title>
<link rel="stylesheet" type="text/css" href="//schema.org/docs/schemaorg.css">
</head>
<body>
#parse( "data-catalog/velocity/header.vm" )
<div id="mainContent" prefix="sh: http://www.w3.org/ns/shacl# konig: http://www.konig.io/ns/core/"  typeof="sh:Shape" resource="$ShapeId">
	<h1 property="rdfs:label" class="page-title">$ShapeName</h1>
	<div><span class="canonicalUrl">Canonical URL: <a href="$ShapeId">$ShapeId</a></span></div>
	<div><span class="canonicalUrl">Target Class: <a href="$TargetClass.Href">$TargetClass.Name</a></span></div>
#if( $termStatus )
	<div><span class="canonicalUrl">Term Status:</span><a href="$termStatus.Href">$termStatus.Name</a></div>
#end
#if( $RelatedArtifacts ) 
  <div><span class="canonicalUrl">Related Artifacts:</span>
    <ul>
#foreach( $artifact in $RelatedArtifacts )   
    	<li><a href="$artifact.href" target="_blank">$artifact.name</a>
#end    	
    </ul>
  </div>
#end	
	<table class="definition-table">
		<thead>
			<tr>
				<th>Property</th>
				<th>Type</th>
				<th>Description</th>
#if( $HasMappings )
        <th>Also Known As</th>
#end				
				<th>Security Classification</th>
#if( $AnyTermStatus )
				<th>Status</th>
#end				
			</tr>
		</thead>
		<tbody class="supertype">
#foreach( $pc in $PropertyList )
			<tr typeof="sh:PropertyConstraint" resource="$pc.PredicateId">
				<th class="prop-nam">$pc.PredicateLocalName</th>
				<td class="prop-ect">$pc.TypeName</td>
				<td class="prop-desc" property="rdfs:comment">
					$pc.Description
				</td>
#if( $HasMappings )
        <td property="konig:mappedField"> 
#foreach( $mapping in $pc.MappingList )
          <div>$mapping.Text</div>
#end
        </td>
#end
				<td class="prop-quansec">#foreach( $qsc in $pc.qualifiedSecurityClassificationList )	
				<div><a href="$qsc.href" target="_blank">$qsc.name</a>
				</div>#end</td>
#if( $AnyTermStatus )
				<td>
#if( $pc.TermStatus )
				<a href="$pc.TermStatus.Href">$pc.TermStatus.Name</a>
#end
				</td>
#end			

			</tr>
#end		
		</tbody>
	</table>
	
#if( $Datasources )	
	<h1 property="rdfs:label" class="page-title">Data Sources</h1>
	<table class="definition-table">
		<thead>
			<tr>
				<th>Type</th>
				<th>Table Name</th>
				<th>Provided By</th>			
			</tr>
		</thead>
		<tbody>
#foreach( $Datasource in $Datasources )
			<tr>
				<td>$Datasource.getType()</td>
				<td>$Datasource.getTableName()</td>
				<td>$Datasource.getProvidedBy()</td>
 			</tr>
#end
		</tbody>
 	</table>
#end
#foreach( $example in $JsonExamples )
	<div style="margin-top: 2em">$example.Name</div>
	<div class="ds-selector-tabs ds-selector">
		<pre class="prettyprint lang-html linenums jsonld selected">
$example.Text		
		</pre>
	</div>
#end	
	<p class="version">
		Latest Version
	</p>
</div>
</body>
</html>