<html>
<head>
<title>$ShapeName</title>
<link rel="stylesheet" type="text/css" href="//schema.org/docs/schemaorg.css">
</head>
<body>
#parse( "data-catalog/velocity/header.vm" )
<div id="mainContent" prefix="sh: http://www.w3.org/ns/shacl#"  typeof="sh:Shape" resource="$ShapeId">
	<h1 property="rdfs:label" class="page-title">$ShapeName</h1>
	<div><span class="canonicalUrl">Canonical URL: <a href="$ShapeId">$ShapeId</a></span></div>
	<div><span class="canonicalUrl">Target Class: <a href="$TargetClass.Href">$TargetClass.Name</a></span></div>
#if( $RelatedArtifacts ) 
  <div><span class="canonicalUrl">Related Artifacts:</span>
    <ul>
#foreach( $artifact in $RelatedArtifacts )   
    	<li><a href="$artifact.href" target="_blank">$artifact.name</a>
#end    	
    </ul>
  </div>
#end	
	<table class="definition-table">
		<thead>
			<tr>
				<th>Property</th>
				<th>Type</th>
				<th>Description</th>
			</tr>
		</thead>
		<tbody class="supertype">
#foreach( $pc in $PropertyList )
			<tr typeof="sh:PropertyConstraint" resource="$pc.PredicateId">
				<th class="prop-nam">$pc.PredicateLocalName</th>
				<td class="prop-ect">$pc.TypeName</td>
				<td class="prop-desc" property="rdfs:comment">$pc.Description</td>
			</tr>
#end		
		</tbody>
	</table>
	<h1 property="rdfs:label" class="page-title">Data Sources</h1>
	<table class="definition-table">
		<thead>
			<tr>
				<th>Type</th>
				<th>Provided By</th>			
			</tr>
		</thead>
		<tbody>
#foreach( $Datasource in $Datasources.entrySet() )
			<tr>
				<td>$Datasource.getKey()</td>
				<td>$Datasource.getValue()</td>
 			</tr>
#end
		</tbody>
 	</table>
#foreach( $example in $JsonExamples )
	<div style="margin-top: 2em">$example.Name</div>
	<div class="ds-selector-tabs ds-selector">
		<pre class="prettyprint lang-html linenums jsonld selected">
$example.Text		
		</pre>
	</div>
#end	
	<p class="version">
		Latest Version
	</p>
</div>
</body>
</html>