<div id="konig-vertex-dialog">
	<table>
	<tr>
		<td id="konig-vertex-dialog-item-type">Item Type</td>
		<td>
			<select id="konig-vertex-dialog-item-type-select">
				<option value="Concept">Concept</option>
				<option value="Text">Text</option>
				<option value="Number">Number</option>
				<option value="Date">Date</option>
				<option value="Time">Time</option>
				<option value="DateTime">Date & Time</option>
				<option value="Boolean">Boolean (True/False)</option>
			</select>
		</td>
	</tr>
	<tr>
		<td id="konig-vertex-name-fieldname">Name</td>
		<td><input id="konig-vertex-name-input" value="{{nameValue}}"></input></td>
	</tr>
	</table>
</div>